@import "tailwindcss";
:root{
    --primary: #896044;
    --secondary: #36251B;
    --third: #F5F5DD;
}


/* Marketing Section */
.marketing_section {
    background-image: url('../images/marketing_section/mar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* ensures the image covers the whole section */
    width: 100%;            /* full width */
    min-height: 400px;      /* or whatever height you need */
}
